main{
    min-height: 100vh;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #808080;
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
}

.main-paragraph__span{
    display: block;
}

.table{
    table-layout: fixed;
    margin-bottom: 12px;
}

.table tr th{
    border: 1px solid #808080;
    padding: 8px;
}

.table__body th {
    cursor: pointer;
}